.stickyTrigger {
  position: relative;
  top: calc(var(--navbar-height) / 2);
}

.navbarIsSticky {
  --navbar-height: 50px;

  transition: height 580ms cubic-bezier(0.19, 1, 0.22, 1);
}

.navlinks {
  position: fixed;
  transform: translateX(100%);
  animation: animate-open cubic-bezier(0.19, 1, 0.22, 1) 0.6s forwards;
}

.animateNavLinksOut {
  animation: animate-close cubic-bezier(0.19, 1, 0.22, 1) 0.6s forwards;
}

@keyframes animate-open {
  to {
    transform: translateX(0);
  }
}

@keyframes animate-close {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(110%);
  }
}

@media (min-width: 768px) {
  .navlinks {
    position: static;
    transform: none;
    animation: none;
  }

  .animateNavLinksOut {
    animation: none;
  }
}
