@mixin page-dimensions {
  margin: 0 $container-margin;
  max-width: $container-max-width;

  @media #{$at-bp-medium} {
    margin: 0 $container-margin-medium;
  }

  @media #{$at-bp-large} {
    margin: 0 $container-margin-large;
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
