.c-home__heading-container {
  display: flex;
  justify-content: center;
  flex-direction: column;

  margin-top: 200px;

  > :not(:last-child) {
    margin-bottom: 10px;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-weight: 200;
    font-size: 2em;
  }

  @media #{$at-bp-small} {
    align-items: center;

    margin-top: 40px;

    h1 {
      font-size: 2.5em;
    }

    h2 {
      font-weight: 200;
      font-size: 1.5em;
    }
  }

  .c-home__social-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 90px;
    margin-top: 10px;

    svg {
      height: 32px;
      width: 32px;

      cursor: pointer;
    }
  }
}
