$mobile-navbar-width: 160px;

header {
  height: $navbar-height;
  margin-bottom: 40px;
  box-shadow: 0px 1px 8px #{$black-shadow};

  .c-nav {
    @include page-dimensions;

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: $navbar-height;

    @media #{$at-bp-medium} {
      margin-bottom: 30px;
    }

    @media #{$at-bp-large} {
      margin-bottom: 40px;
    }

    .c-nav__mobile-menu__burger {
      cursor: pointer;
      transition: all 0.2s ease;

      &:hover {
        fill: $main-red;
      }
    }

    .c-nav__mobile-menu__burger,
    .c-nav__mobile-menu__close {
      display: none;

      @media #{$at-bp-small} {
        display: block;
      }
    }
  }
}

.nav-links {
  position: relative;
  display: flex;
  align-items: center;

  @media #{$at-bp-small} {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    height: 100%;
    width: $mobile-navbar-width;
    padding: 45px 15px;
    background-color: white;
    box-shadow: -2px 3px 5px $black-shadow;
    right: calc(-#{$mobile-navbar-width} - 10px);
    transition: all 1s ease;

    li:not(.c-nav__mobile-menu__close) {
      width: 100px;

      margin: 0;

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }

    .c-nav__mobile-menu__close {
      position: absolute;
      top: 10px;
      right: 18px;
      margin: 0;

      font-size: 1.2em;

      &:hover {
        color: $main-red;
      }
    }
  }

  li {
    position: relative;
    list-style: none;

    &:not(:last-child):not(.c-nav__mobile-menu__close) {
      margin-right: 50px;
    }
  }

  .c-nav__link-underline {
    display: none;
    position: absolute;
    bottom: -2px;

    height: 2px;
    background-color: $main-red;
    border-radius: 2px;
  }

  .c-nav__active-nav-link ~ .c-nav__link-underline {
    display: block;
    width: 100%;
  }
}

.c-nav.c-nav__mobile {
  .nav-links {
    right: 0;
  }
}
