header {
  height: $navbar-height;
  margin-bottom: 40px;
  box-shadow: 0px 1px 8px #{$black-shadow};

  .c-nav {
    @include page-dimensions;

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: $navbar-height;

    @media #{$at-bp-medium} {
      margin-bottom: 30px;
    }

    @media #{$at-bp-large} {
      margin-bottom: 40px;
    }

    .nav-links {
      position: relative;
      display: flex;
      align-items: center;

      @media #{$at-bp-small} {
        display: none;
      }

      li {
        position: relative;
        list-style: none;
      }

      li:not(:last-child) {
        margin-right: 50px;
      }

      .c-nav__link-underline {
        display: none;
        position: absolute;
        bottom: -2px;

        height: 2px;
        background-color: red;
        border-radius: 2px;
      }

      .c-nav__active-nav-link ~ .c-nav__link-underline {
        display: block;
        width: 100%;
      }
    }

    .c-nav__mobile-menu {
      display: none;
      cursor: pointer;
      transition: all 0.2s ease;

      &:hover {
        fill: red;
      }

      @media #{$at-bp-small} {
        display: block;
      }
    }
  }

  .c-nav.c-nav__mobile {
    position: relative;

    .nav-links {
      position: absolute;

      display: flex;
      flex-direction: column;

      top: $navbar-height;
      width: 100%;
      padding: 10px 0;
      line-height: 2;

      li {
        margin: 0;
      }
    }
  }
}
