@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .w-content {
    width: fit-content;
  }

  .min-w-content {
    min-width: fit-content;
  }

  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .py-container {
    padding-top: var(--layout-vertical-padding);
    padding-bottom: var(--layout-vertical-padding);
  }

  .h-screen-available {
    height: calc(100vh - var(--navbar-height) - (2 * var(--layout-vertical-padding)));
  }

  .btn {
    @apply py-2 border-2 font-semibold rounded transition-colors duration-150;
  }

  .btn-primary {
    @apply btn text-red border-red hover:bg-red hover:text-white disabled:text-red disabled:bg-transparent;
  }

  .btn-solid {
    @apply rounded-lg py-4 px-5 text-white font-bold;
  }

  .btn-solid-primary {
    @apply btn-solid bg-blue-600;
  }

  .btn-solid-secondary {
    @apply btn-solid bg-gray-900;
  }

  .checkbox {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    height: 25px;
    padding-left: 35px;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    input:checked ~ .checkmark:after {
      display: block;
    }

    .checkmark {
      @apply rounded;
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: #eee;
    }

    .checkmark:after {
      content: '';
      position: absolute;
      display: none;

      left: 9px;
      top: 5px;
      width: 7px;
      height: 12px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }

    input:checked ~ .checkmark {
      @apply bg-blue-500;
    }

    &:hover input:not(:checked) ~ .checkmark {
      @apply bg-blue-200;
    }
  }

  .link {
    @apply text-blue-400 underline;
  }
}

body {
  @apply text-black-500 dark:bg-gray-800;
}

:root {
  --navbar-height: 60px;
  --layout-vertical-padding: 2rem;
}

.dark input,
.dark textarea {
  caret-color: #f3f4f6;
  color: #f3f4f6;
}
