@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .w-content {
    width: fit-content;
  }

  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .btn {
    @apply py-2 border-2 font-semibold rounded transition-colors duration-150;
  }

  .btn-red {
    @apply text-red border-red hover:bg-red hover:text-white disabled:text-red disabled:bg-transparent;
  }
}

body {
  @apply text-black-500;
}
