@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .w-content {
    width: fit-content;
  }

  .min-w-content {
    min-width: fit-content;
  }

  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .py-container {
    padding-top: var(--layout-vertical-padding);
    padding-bottom: var(--layout-vertical-padding);
  }

  .h-screen-available {
    height: calc(100vh - var(--navbar-height) - (2 * var(--layout-vertical-padding)));
  }

  .btn {
    @apply py-2 border-2 font-semibold rounded transition-colors duration-150;
  }

  .btn-primary {
    @apply btn text-red border-red hover:bg-red hover:text-white disabled:text-red disabled:bg-transparent;
  }

  .btn-solid {
    @apply rounded-lg py-4 px-5 text-white font-bold;
  }

  .btn-solid-primary {
    @apply btn-solid bg-blue-600;
  }

  .btn-solid-secondary {
    @apply btn-solid bg-gray-900;
  }
}

body {
  @apply text-black-500 dark:bg-gray-800;
}

:root {
  --navbar-height: 60px;
  --layout-vertical-padding: 2rem;
}

.dark input,
.dark textarea {
  caret-color: #f3f4f6;
  color: #f3f4f6;
}
